.debug{
  background-color: #db56564b;
  border: 1px solid black;
  min-height: 50px;
}

.debug2{
  background-color: #db56564b;
  border: 1px solid black;
  min-height: 100px;
}

.w-70{
  width: 70%;
}

.mm-jumbotron ,
.mm-section1{
  height: 400px ;
}

.mm-section2{
  height: 500px;
}

.mm-section3{
  height: 500px;
}

.f-top{
  height: 200px;
}

.f-down{
  height: 100px;
}