
body{
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.w-70{
  width: 70%;
}

li a{
  padding: 5px !important;
}

.nav a{
  color: white;
}

header{
  background-color: #2C3E50;
}

.mm-jumbotron img{
  max-width:200px;
}

img{
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.mm-jumbotron,
.mm-section2 {
  background-color: #1ABC9C;
}

hr{
  width: 15%;
  border-top: 3px solid white;
  border-radius: 50px;
  opacity: 1;
  margin: 10px;
}

.mm-section1 hr,
.mm-section3 hr{
  border-top: 3px solid black;
}

.mm-section2 button{
  background-color: none !important;
  border: 1px solid white ;
  color: white;
  margin: 10px;
  margin-bottom: 40px;
}

.mm-section2 button:hover{
  border: 1px solid white ;
}

/*FORM*/

.ms-form input, .ms-form textarea{
  border-left: none;
  border-top: none;
  border-right: none;
  border-radius: 0;
  padding-left: 0;
}

.ms-form input::placeholder, 
.ms-form textarea::placeholder{
  color: black;
}

.ms-form button{
  background: #1ABC9C;
  border: none;
  margin-bottom:20px;
}

.ms-form input:focus,
.ms-form textarea:focus{
  box-shadow: 0 1px 0 0 rgba(13,110,253,.25);
}

footer{
  background-color: #3A546D;
}

.f-top .fa-brands{
  border: 1px solid white;
  border-radius: 50px;
  padding: 5px;
  margin-top: 5px;
}

.f-down{
  background-color: #2C3E50;
}